<div class="autodiv">
  <h3>留言</h3>

  <form class="ui reply form" method="get" action="/">
    <input name="postId" value="<%= posts[0].id %>" hidden>
    <div class="field">
      <textarea name="content" rows="2"></textarea>
    </div>
    <input type="submit" class="ui icon button" style=" width: 52px;height: 36px;" value="留言" />
  </form>
</div>