<% if (user) { %>
<div>
    <h2 style="display : inline;color: rgba(65, 170, 5, 0.829)">博客首页</h2>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a class="item" href="/users">个人主页</a>
    <a class="item" href="/signout">登出</a>
</div>


<% } else { %>
<div>
    <h2 style="display : inline;color: rgba(65, 170, 5, 0.829);">请先登录</h2>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a class="item" href="/signin">登录</a>
    <a class="item" href="/signup">注册</a>
</div>
<% } %>

<br /><br />