<% if (user) { %>
<div class="autodiv">
    <h2 style="display : inline;color: rgba(58, 151, 4, 0.897)">博客首页</h2>
    <a style="float: right;margin-right: 0; vertical-align:bottom;" class="item" href="/signout">登出</a>
    <a style="float: right;margin-right: 0;" class="item" href="/users">个人主页&nbsp&nbsp</a><br />
    <a class="item" href="/createpost">新建文章</a>
</div>
<% } else { %>
<div class="autodiv">
    <h2 style="display : inline;color: rgba(58, 151, 4, 0.897);">请先登录</h2>
    <a style="float: right;margin-right: 0;" class="item" href="/signup">注册</a>
    <a style="float: right;margin-right: 0;" class="item" href="/signin">登录&nbsp&nbsp</a>
</div>
<% } %>

<br />