<%- include('components/head') %>
<%- include('components/notification') %>

<body>
    <div class="autodiv">
        <form action="/createpost" method="post" class="ui reply form">
            <label>标题<font color='red'>*</font></label><br />
            <input type="text" name="title" required="required"><br />
            <label>内容<font color='red'>*</font></label><br />
            <div class="field">
                <textarea name="content" rows="5" required="required"></textarea>
            </div>
            <button class="ui icon button" type="submit">发布</button>
        </form>
    </div>
</body>

<%- include('components/footer') %>