<!DOCTYPE html>
<html>

<head>
  <title>首页</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('components/head') %>
  <%- include('components/post') %>
</body>

</html>