<%- include('components/head') %>
<%- include('components/notification') %>

<body>
	<div class="autodiv">
		<form action="/signin" method="post" class="ui reply form">
			<label for="username">用户名<font color='red'>*</font></label><br />
			<input type="text" id="username" name="username" required="required"><br />
			<label for="password">密码<font color='red'>*</font></label><br />
			<input type="password" id="password" name="password" required="required"><br /><br />
			<button  class="ui icon button" type="submit">登录</button>
		</form>
	</div>
</body>

<%- include('components/footer') %>