<!DOCTYPE html>
<html>

<head>
    <title>用户页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <h2 style="display : inline;color: rgba(65, 170, 5, 0.829);">个人主页</h2>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="item" href="/">回到首页</a>
        <a class="item" href="/signout">登出</a>

    </div>
    <br /><br />

    <%- include('components/post') %>
</body>

</html>