body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  border:1px solid #cec9c97a;
  border-radius:5px 5px;
  box-shadow:0 0 5px #eeeeee;
  padding: 0px 10px;
  width: 280px;
}

a {
  color: #00B7FF;
  text-decoration:none;  
}